* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1600px;
}

.page-header {
  background-color: #000000;
}



.nav-list {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  width: 1600px;
  height: 95px;
  display: flex;
  list-style: none;
  align-items: center;
  vertical-align: middle;
  justify-content: space-around;

}
