* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.wrapper-header {
  margin: 0 auto;
  max-width: 1600px;
  background: url('assets/backgrounds/your-life-bg.png');
}

.page-header {
  background-color: #000000;
}

.nav-list {
  width: 100%;
  height: 95px;
  display: flex;
  list-style: none;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
}

.nav-list li {
  margin-left: 40px;
  margin-right: 52px;
}

.nav-link {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400px;
  line-height: 19.6px;
  color: #ffffff;
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #808080;
  transition: 0.2s ease-out;
}

.nav-link:active {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(85, 55, 55);
}

.nav-items:first-child {
  text-decoration: underline;
  font-weight: bold;
  color: #808080;
}

.logo:hover {
  transform: rotate(180deg);
  transition: 0.5s ease-out;
}

.your-life {
  width: 100%;
  height: 648px;
  
}
