* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main-wrapper {
  max-width: 100%;
  margin: auto;
}

.header-wrapper {
  max-width: 1600px;
  height: 744px;
  margin: auto;
  background: url("assets/backgrounds/your-life-bg.png");
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.nav-list {
  width: 100%;
  height: 96px;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.logo {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-list li {
  margin-left: 30px;
  margin-right: 40px;
}

.nav-link {
  font-family: "Roboto Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #808080;
  transition: 0.2s ease-out;
}

.nav-link:active {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(85, 55, 55);
}

.nav-items:first-child {
  text-decoration: underline;
  color: #ffffff;
}

.logo:hover {
  transform: rotate(180deg);
  transition: 0.5s ease-out;
}

.tagline-block {
  position: absolute;
  width: 732px;
  height: 245px;
  left: 585px;
  top: 224px;
}

.main-tagline {
  font-family: "Roboto Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 83px;
  color: #ffffff;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.tagline-description {
  font-family: "Roboto Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.2px;
  text-align: center;
  color: #ffffff;
  margin-top: 18px;
}

.btn-main {
  width: 184px;
  height: 46px;
  background: #00afdb;
  padding: 15px 47px;
  font-family: "Roboto Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
}

.btn-life {
  position: absolute;
  margin-top: 30px;
  margin-left: 275px;
}

.btn-life:hover {
  background: #009cc2;
  transition: 0.2s ease-out;
}

.btn-life:active {
  background: #106d85;
}

.social-block {
  position: absolute;
  width: 273px;
  height: 104px;
  left: 233px;
  top: 368px;
}

.social-list {
  display: flex;
  list-style: none;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  margin-top: 42px;
  margin-left: -3px;
}

.social-link {
  margin: 0 15px;
}

.social-icon:hover {
  cursor: pointer;
  transform: rotate(180deg);
  transition: 0.5s ease-out;
}

.rappresent {
  width: 1600px;
  height: 842px;
  margin: auto;
  display: flex;
}

.rappresent-text-block {
  height: 842px;
  width: 405px;
  margin-left: 270px;
  padding-top: 298px;
}

.rappresent-heading {
  font-family: "Roboto Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.rappresent-text {
  font-family: "Roboto Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  color: #4e4e4e;
  margin-top: 21px;
  margin-bottom: 46px;
}

.rappresent-image-container {
  height: 842px;
  width: 407px;
  margin-left: 249px;
  padding-top: 120px;
}

.logic-selection {
  font-family: "Roboto Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.6px;
  color: #373737;
}

.btn-rappresent:hover {
  background: #009cc2;
  transition: 0.2s ease-out;
}

.btn-rappresent:active {
  background: #106d85;
}

.community {
  width: 1600px;
  height: 504px;
  margin: auto;
  background-color: #f5f6f7;
}

.arrow {
  width: 1600px;
  height: 120px;
  display: flex;
}

.image-counter {
  font-family: "Roboto Regular", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  margin: 2px;
}

.back-arrow {
  margin-right: 10px;
}

.forward-arrow {
  margin-left: 10px;
}

.back-arrow:hover {
  cursor: pointer;
  opacity: 50%;
}

.forward-arrow:hover {
  cursor: pointer;
  opacity: 50%;
}

.arrow-block {
  width: 202px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1188px;
  margin-top: 61px;
}

.community-content-block {
  width: 1600px;
  height: 703px;
  display: flex;
}

.community-text-block {
  width: 298px;
  height: 211px;
  text-align: center;
  margin-left: 270px;
  margin-top: 33px;
}

.community-heading {
  font-family: "Roboto Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: #373737;
  margin-top: 20px;
  margin-bottom: 10px;
}

.community-text {
  font-family: "Roboto Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #4e4e4e;
}

.user-photo {
  width: 45px;
  height: 45px;
  text-align: center;
}

.community-image-center {
  margin-left: 25px;
  margin-right: 25px;
}

.community-images-block {
  margin-left: 139px;
}

.implement {
  width: 1600px;
  height: 842px;
  margin: auto;
}

.implement-content-block {
  width: 1600px;
  height: 582px;
  display: flex;
  padding-top: 120px;
}

.implement-image-block {
  width: 546px;
  height: 582px;
  margin-left: 269px;
}

.implement-text-block {
  height: 582px;
  width: 516px;
}

.implement-heading {
  font-family: "Roboto Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  padding-top: 200px;
}

.implement-text {
  font-family: "Roboto Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  color: #4e4e4e;
  margin-top: 20px;
  margin-bottom: 45px;
}

.btn-implement:hover {
  background: #009cc2;
  transition: 0.2s ease-out;
}

.btn-implement:active {
  background: #106d85;
}

.sign-up {
  width: 1600px;
  height: 524px;
  margin: auto;
  background: url("assets/backgrounds/pexels-christina-morillo-1181675\ 1.jpg");
}

.sign-content-block {
  height: 524px;
  width: 406px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 597px;
}

.sign-heading {
  font-family: "Roboto Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.mail {
  height: 46px;
  width: 340px;
  border: none;
  font-family: "Roboto Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  padding-left: 24px;
}

.mail[type="text"],
textarea {
  background-color: #ffffff;
}

.email-button {
  height: 46px;
  width: 66px;
  border-width: 0;
  background-color: #00afdb;
  background-image: url("assets/icons/check-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.sign-form {
  display: flex;
  margin-bottom: 20px;
}

.input-container {
  text-align: center;
}

.email-button:hover {
  background: #009cc2;
  background-image: url("assets/icons/check-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.2s ease-out;
}

.email-button:active {
  background: #106d85;
  transform: rotate(360deg);
  background-image: url("assets/icons/check-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.5s ease-out;
}

.download {
  height: 464px;
  width: 1600px;
  background: #f5f6f7;
  margin: auto;
}

.download-container {
  height: 464px;
  width: 480px;
  margin: auto;
  text-align: center;
}
.download-heading {
  font-family: "Roboto Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  padding-top: 120px;
}

.download-text {
  font-family: "Roboto Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  color: #4e4e4e;
  margin-top: 20px;
  margin-bottom: 30px;
}

.download-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.apple-store-button,
.play-market-button {
  margin: 0 15px;
  margin-top: 3px;
}

.apple-store-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  font-family: "Roboto Bold", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  padding: 15px 20px;
  width: 185px;
  height: 46px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #00afdb 68%, #009cc2 68%);
}

.play-market-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
  font-family: "Roboto Bold", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  padding: 15px 20px;
  width: 185px;
  height: 46px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #00afdb 68%, #009cc2 68%);
}

.apple-icon {
  position: absolute;
  left: 899px;
}

.android-icon {
  position: absolute;
  right: 769px;
}

.apple-store-button:hover {
  cursor: pointer;
  background: #009cc2;
}

.apple-store-button:active {
  cursor: pointer;
  background: #106d85;
}

.play-market-button:hover {
  cursor: pointer;
  background: #009cc2;
}

.play-market-button:active {
  cursor: pointer;
  background: #106d85;
}

.page-footer {
  height: 185px;
  width: 1600px;
  background-color: #000000;
  margin: auto;
  display: flex;
}

.nav-container {
  height: 185px;
  width: 236px;
  margin-left: 161px;
  padding-top: 74px;
}

.footer-nav-list {
  list-style: none;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
}

.footer-nav-link {
  font-family: "Roboto Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  color: #ffffff;
}

.footer-nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #808080;
  transition: 0.2s ease-out;
}

.footer-nav-link:active {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(85, 55, 55);
}

.link-privacy::before {
  font-family: "Roboto Bold", sans-serif;
  font-weight: 700;
  content: "|";
  color: #4e4e4e;
  padding-right: 17px;
}

.link-privacy::after {
  font-family: "Roboto Bold", sans-serif;
  font-weight: 700;
  content: "|";
  color: #4e4e4e;
  padding-left: 20px;
}

.logo-container {
  height: 185px;
  width: 44px;
  margin-left: 381px;
  padding-top: 60px;
}

.footer-logo:hover {
  transform: rotate(180deg);
  transition: 0.5s ease-out;
}

.copyright-container {
  height: 185px;
  width: 172px;
  margin-left: 448px;
  padding-top: 74px;
}

.copyright {
  font-family: "Roboto Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}

.copyright-link {
  font-family: "Roboto Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}

.copyright-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #808080;
  transition: 0.2s ease-out;
}

.copyright-link:active {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(85, 55, 55);
}
